<!--          CONTENT-WRAPPER START           -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row" id="row-1">
        <!-- <img id="splash" src="/img/stairs.jpg" alt="classroom image"> -->
      <!-- <div class="jumbotron splash-div">
        <h1>Welcome to your GA Class Hub</h1>
      </div> -->

      <div class="jumbotron">
        <div class="container">
            <h1>Welcome to your GA Class Hub</h1>
          <div class="col-md-6">
            <p>Your Classroom Experience</p>
            <p>In One Place!</p>
          </div>

          <div class="col-md-6">
            <p>Login or Sign Up Today</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a></p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!--          CONTENT-WRAPPER END           -->
</div>
<!--          WRAPPER END           -->
