<div class="jumbotron" id="splash">
  <div class="container">


    <div class="col-lg-6">
      <p>&nbsp;</p>
      <h1>Welcome to your Class Hub!</h1>
      <p>&nbsp;</p>
    </div>

    <div class="col-lg-6">
      <h1>&nbsp;</h1>
      <p>Your Classroom Experience In One Place...</p>
      <p>Login or Sign Up Today</p>
      <!-- <p>&nbsp;</p> -->
      <p><a class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modal-sn">Get Signed Up! &raquo;</a></p>
    </div>

  </div>
</div>
<div class="container" id="info">
  <div class="row">
    <div class="col-md-4">
      <h2>Connect With Cohort Members</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
      <h2>See Class Photos and Links</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
      <h2>All Your Resources in One Place</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
  </div>

<!--   <div class="container-fluid">
   <h1>something</h1>

  </div> -->

  <hr>
  <footer>
    <p>&copy; Maria Nguyen, General Assembly 2015</p>
  </footer>
</div>
